* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--tertiary-color);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #120c07;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 3px double var(--tertiary-color);
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-inline: auto;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}