header {
    background-color: var(--tertiary-color);
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .title {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 2.4rem;
}

main {
    background-color: var(--quartiary-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-block: 100px;
}

main .product-container .product-title {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 400;
}

main .product-container .product-list {
    width: 100%;
    max-width: 678px;
    height: 917px;
    padding: 25px;
    overflow-y: scroll;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}

.product-list li .product-card {
    background-color: brown;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 196px;
    height: 258px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

.product-card .card-image {
    /* width: 176px; */
    height: 174px;
    border-radius: 5px;
    border: 3px solid black;
}

.product-card .product-name {
    background-color: rebeccapurple;
    font-size: 1.5rem;
    font-weight: 400;
}
