header {
    background-color: var(--tertiary-color);
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .title {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 2.4rem;
}

main {
    background-color: var(--primary-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-block: 110px;
}

main .product-container .product-title {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 400;
}

main .product-container .product-list {
    display: flex;
    place-content: flex-start center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 678px;
    height: 917px;
    padding: 25px;
    overflow-y: scroll;
    box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.15);
    gap: 10px;
    margin-top: 40px;
}

.product-list .product-card {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 258px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--secundary-color);
    font-family: "Sarpanch", sans-serif;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.product-card .card-image {
    height: 174px;
    border-radius: 5px;
    border: 3px solid var(--secundary-color);
}

.product-card .product-name {
    font-size: 1.5rem;
    font-weight: 400;
}

.product-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main form {
    width: 100%;
    max-width: 472px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main form .title-form {
    font-size: 2.4rem;
    text-align: center;
}

main form .form-control input {
    font-size: 1.6rem;
    padding: 10px 14px;
    border: 3px solid var(--quartiary-color);
    border-radius: 30px;
    color: var(--quartiary-color);
}

main form .form-control input::placeholder {
    color: var(--quartiary-color);
}

form .button-container {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

form .button-container button {
    width: 100%;
    height: 55px;
    font-size: 2rem;
    border-radius: 15px;
    transition: 0.6s ease-in-out;
}

form .button-container button:first-child {
    background-color: var(--quartiary-color);
    color: var(--primary-color);
}

form .button-container button:first-child:hover{
    background-color: var(--primary-color);
    color: var(--quartiary-color);
}

form .button-container button:first-child:active{
    opacity: 0.5;
    background-color: rgb(170, 170, 170);
}

form .button-container button:nth-child(2) {
    background-color: var(--primary-color);
    border: 3px solid var(--quartiary-color);
    color: var(--quartiary-color);
}

form .button-container button:nth-child(2):hover {
    background-color: var(--quartiary-color);
    color: var(--primary-color);
}

form .button-container button:nth-child(2):active {
    opacity: 0.8;
}


footer {
    background-color: var(--tertiary-color);
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    text-align: center;
}

footer .subtitle-footer {
    font-size: 2.4rem;
}

footer p {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: "Sarpanch", sans-serif;
}

footer p span {
    font-weight: 400;
}
