header {
    background-color: var(--tertiary-color);
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .title {
    color: var(--primary-color);
}

main {
    background-color: var(--quartiary-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-block: 100px;
}

main .product-container .product-title {
    font-size: 2.4rem;
    text-align: center;
}